<div class="sidebar-widget mb-65">
    <h4 class="pro-sidebar-title">Categories </h4>
    <div class="sidebar-widget-list mt-50">
        <ul>
            <li><a href="#">Electronics & Tech</a> <span>(16)</span></li>
            <li><a href="#">Electronics sale</a> <span>(13)</span></li>
            <li><a href="#">Electronics sale off</a> <span>(39)</span></li>
            <li><a href="#">Fashion sale off</a> <span>(16)</span></li>
            <li><a href="#">Fashions</a> <span>(15)</span></li>
            <li><a href="#">Furnitur new arrival</a> <span>(18)</span></li>
            <li><a href="#">Furniture</a> <span>(10)</span></li>
            <li><a href="#">Main</a> <span>(19)</span></li>
            <li><a href="#">Shoes</a> <span>(12)</span></li>
        </ul>
    </div>
</div>