@using RMLXCast.Web.ViewModels.ShopProduct;
@model IList<ShopProductCategoryViewModel>

<div class="sidebar-widget mb-65">
    <h4 class="pro-sidebar-title">Категории</h4>
    <div class="sidebar-widget-list mt-50">
        <ul>
            @foreach (var category in Model)
            {
                <li><a asp-action="Products" asp-controller="Shop" asp-route-categoryId="@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>
</div>