<footer class="footer-area section-padding-1 border-top-3">
    <div class="container-fluid">
        <div class="footer-top pt-100 pb-60">
            <div class="row">
                <div class="footer-column footer-width-24">
                    <div class="footer-widget footer-about mb-30">
                        <a asp-action="Products" asp-controller="Shop">
                            <img src="assets/images/logo/logo.png" alt="X-Cast">
                        </a>
                        <p>Оффициальный магазин</p>
                        @*<div class="social-icon-style-2 social-icon-hm4">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                        </div>*@
                    </div>
                </div>
                <div class="footer-column footer-width-12">
                    <div class="footer-widget footer-info-list-2 mb-30">
                        <h3 class="footer-title">Компания</h3>
                        <ul>
                            <li><a href="https://3dxcast.com/">Лендинг</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column footer-width-14">
                    <div class="footer-widget footer-info-list-2 mb-30">
                        <h3 class="footer-title">Полезные ссылки</h3>
                        <ul>
                            <li><a href="https://3dxcast.com/">О нас</a></li>
                            <li><a href="https://vk.com/protofactory">Protofactory</a></li>
                            <li><a href="https://vk.com/3dxcast">Ортезирование</a></li>
                            <li><a href="https://www.instagram.com/3dxcast/">Мы в инстаграмме</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column footer-width-19">
                    <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                        <h3 class="footer-title">Контактная информация</h3>
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i> Ежедневно: 10:00 - 22:00 по МСК</li>
                            <li><a href="mailto:protostudiosru@gmail.com"><i class="dlicon ui-1_email-83"></i> protostudiosru@gmail.com</a></li>
                            <li><i class="dlicon tech-2_rotate"></i> +7 (911) 920-21-31 </li>
                            <li><i class="dlicon ui-1_home-simple"></i> Санкт-Петербург, Колпино<br /> улица Веры Слуцкой, 89 </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column footer-width-29 mb-30">
                    <div class="contact-page-map">
                        <div id="contact-map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-botoom">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-2 text-center">
                        <p>© @DateTime.Now.Year <a href="https://3dxcast.com/">X-Cast.</a> Все права защищены.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>