<!-- mini cart start -->
<div class="sidebar-cart-active">
    <div class="sidebar-cart-all" id="sidebarCart">
        <button hidden id="updateCartBtn" @@click="getCart"></button>
        <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="cart-content">
            <h3>Корзина товаров</h3>
            <ul v-if="haveAnyProducts">
                <li v-for="(cartProduct, index) in cartProducts">
                    <div class="cart-img">
                        @* <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>*@
                    </div>
                    <div class="cart-title">
                        <h4><a href="#">{{cartProduct.productName}}</a></h4>
                        <span> {{formatPriceWithAmount(cartProduct)}}	</span>
                    </div>
                    <div class="cart-delete">
                        <a href="#" @@click="deleteProductFromCart(cartProduct, index)">×</a>
                    </div>
                </li>
            </ul>
            <div class="cart-total" v-if="haveAnyProducts">
                <h4>Итоговая цена: <span>{{endPriceComputed}}</span></h4>
            </div>

            <div class="cart-checkout-btn" v-if="haveAnyProducts">
                <a class="btn-hover cart-btn-style" asp-action="Cart" asp-controller="Shop">Корзина</a>
                <a class="no-mrg btn-hover cart-btn-style" asp-action="Checkout" asp-controller="Shop">Оформить заказ</a>
            </div>

            <div class="cart-total" v-if="!haveAnyProducts">
                <h4>Ваша корзина пуста!</h4>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/vue/vue.global.js"></script>
<script src="~/lib/axios/axios.min.js"></script>
<script type="module" src="~/js/shop/sidebarCart.js"></script>