@using Microsoft.AspNetCore.Identity;
@using RMLXCast.Core.Domain.User;

@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;

@{
    var isSignedIn = _signInManager.IsSignedIn(User);
    var applicationUser = await _userManager.GetUserAsync(User);

    var isAdmin = await IsInRoleAsync("admin");

    async Task<bool> IsInRoleAsync(string role)
    {
        if (!isSignedIn)
        {
            return false;
        }
        else if (applicationUser != null)
        {
            return await _userManager.IsInRoleAsync(applicationUser, role);
        }
        else
        {
            return false;
        }
    }
}

<form method="post" asp-action="Logout" asp-controller="Account" id="LogoutForm">
</form>

<!-- aside start -->
<div class="header-aside-active">
    <div class="header-aside-wrap">
        <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="header-aside-content">
            <div class="mobile-menu-area">
                <div class="mobile-search">
                    <form class="search-form" method="get" asp-action="Products" asp-controller="Shop">
                        <input type="text" placeholder="Поиск по товарам и услугам…" name="searchString">
                        <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap">
                    <!-- mobile menu start -->
                    <div class="mobile-navigation">
                        <!-- mobile menu navigation start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li><a asp-action="Products" asp-controller="Shop">Главная </a></li>

                                @if (isSignedIn)
                                {
                                    <li class="menu-item-has-children ">
                                        <a asp-action="Index" asp-controller="CustomerAccount">Аккаунт</a>
                                        <ul class="dropdown">
                                            <li><a href="javascript:void(0);" onclick="document.getElementById('LogoutForm').submit()">Выйти с аккаунта</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a asp-action="Login" asp-controller="Account">Вход</a></li>
                                <li><a asp-action="Register" asp-controller="Account">Регистрация</a></li>
                                }

                                 @if (isAdmin)
                                    {
                                        <li><a asp-action="Dashboard" asp-controller="Admin">Панель админа</a></li>
                                    }

                                <li><a asp-action="About" asp-controller="Shop">Примеры работ и отзывы</a></li>
                                <li><a asp-action="Callback" asp-controller="Shop">Контактные данные</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- mobile menu end -->
                </div>
               @* <div class="mobile-curr-lang-wrap">
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-account-active" href="#">Мой аккаунт <i class="fa fa-angle-down"></i></a>
                        <div class="lang-curr-dropdown account-dropdown-active">
                            <ul>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Creat Account</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="header-aside-menu">
                <nav>
                    <ul>
                        <li><a asp-action="About" asp-controller="Shop">Примеры работ и отзывы</a></li>
                        <li><a asp-action="Callback" asp-controller="Shop">Контактная информация</a></li>
                    </ul>
                </nav>
            </div>
          @*  <img src="assets/images/icon-img/payments.png" alt="payment">*@
            <p>Оффициальный магазин товаров и услуг 3dxcast</p>
            <div class="aside-contact-info">
                <ul>
                    <li><i class="dlicon ui-2_time-clock"></i>Ежедневно: 10:00 - 22:00 по МСК</li>
                    <li><i class="dlicon ui-1_email-84"></i> protostudiosru@gmail.com</li>
                    <li><i class="dlicon tech-2_rotate"></i> +7 (911) 920-21-31 </li>
                    <li>
                        <i class="dlicon ui-1_home-minimal"></i>Санкт-Петербург, Колпино
                        улица Веры Слуцкой, 89
                    </li>
                </ul>
            </div>
           @* <div class="social-icon-style mb-25">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="behance" href="#"><i class="fa fa-behance"></i></a>
            </div>*@
            <div class="copyright">
                <p>© @DateTime.Now.Year <a href="https://3dxcast.com/">3dxcast.</a> Все права защищены</p>
            </div>
        </div>
    </div>
</div>