@using RMLXCast.Web.ViewModels.Account;
@model RegisterViewModel


@{
    ViewBag.Title = "X-Cast Регистрация";
}

<div class="login-register-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="login-register-wrap register-wrap ml-120 mr-120">
                    <h3> <i class="fa fa-user-o"></i> Регистрация</h3>
                    <div class="login-register-form">
                        <form method="post" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="sin-login-register" style="margin-right: 45%">
                                <label asp-for="UserName">Логин<span>*</span></label>
                                <input asp-for="UserName" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="sin-login-register" style="margin-right: 45%">
                                <label asp-for="Email">Почта<span>*</span></label>
                                <input asp-for="Email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="sin-login-register" style="margin-right: 45%">
                                <label asp-for="FirstName">Имя<span>*</span></label>
                                 <input asp-for="FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="sin-login-register" style="margin-right: 45%">
                                <label asp-for="LastName">Фамилия<span>*</span></label>
                                  <input asp-for="LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="sin-login-register" style="margin-right: 45%">
                               <label asp-for="Password">Пароль<span>*</span></label>
                                <input asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="sin-login-register" style="margin-right: 45%">
                                <label asp-for="PasswordConfirm">Потвердите пароль<span>*</span></label>
                                <input asp-for="PasswordConfirm" />
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                            <p style="margin-right: 45%">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a></p>
                            <div class="login-register-btn">
                                <button type="submit">Регистрация</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}