@using Microsoft.AspNetCore.Identity;
@using RMLXCast.Core.Domain.User;

@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;

@{
    var isSignedIn = _signInManager.IsSignedIn(User);
    var applicationUser = await _userManager.GetUserAsync(User);

    var isAdmin = await IsInRoleAsync("admin");

    async Task<bool> IsInRoleAsync(string role)
    {
        if (!isSignedIn)
        {
            return false;
        }
        else if (applicationUser != null)
        {
            return await _userManager.IsInRoleAsync(applicationUser, role);
        }
        else
        {
            return false;
        }
    }
}

<form method="post" asp-action="Logout" asp-controller="Account" id="LogoutForm">
</form>

<header class="header-area section-padding-1">
    <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        @*<div class="logo logo-width">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="X-Cast">
                            </a>
                        </div>*@
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                     <li><a asp-action="Products" asp-controller="Shop">Главная</a></li>

                                    @if (isSignedIn)
                                        {
                                        <li><a asp-action="Index" asp-controller="CustomerAccount">Аккаунт <i class="fa fa-angle-down"></i> </a>
                                            <ul class="sub-menu-width">
                                        <li><a href="javascript:void(0);" onclick="document.getElementById('LogoutForm').submit()">Выйти с аккаунта</a></li>
                                    </ul>
                                    </li>
                                        }
                            else
                            {
                                <li><a asp-action="Login" asp-controller="Account">Вход</a></li>
                                <li><a asp-action="Register" asp-controller="Account">Регистрация</a></li>
                            }
                                    @if (isAdmin)
                                    {
                                        <li><a asp-action="Dashboard" asp-controller="Admin">Панель админа</a></li>
                                    }

                            <li><a asp-action="About" asp-controller="Shop">Примеры работ и отзывы</a></li>
                            <li><a asp-action="Callback" asp-controller="Shop">Контактные данные</a></li>
                        </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                           @* <div class="same-style header-wishlist">
                                <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                            </div>*@
                            <div class="same-style cart-wrap">
                                <a href="#" class="cart-active" id="cartSidebarToggle">
                                    <i class="dlicon shopping_bag-20"></i>
                                    @*<span class="count-style">0</span>*@
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>