<div class="error-area bg-gray-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-content text-center">
                            <h3>Запрошенная страница не найдена!</h3>
                            <p>Возможно она была удалена или перенесена на другой ресурс.</p>
                            <div class="btn-style-1 text-center">
                                <a class="btn-border-black2" asp-action="Products" asp-asp-controller="Shop">
                                    <div class="btn-viewmore-normal btn-ptb-3 btn-viewmore-bg-transparent btn-viewmore-common btn-font-3">
                                        <span>На главную</span>
                                    </div>
                                    <div class="btn-viewmore-hover btn-ptb-3 btn-viewmore-common btn-hover-transition btn-font-3">
                                <span>На главную</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>