  <!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Товары</h1>
            </div>
            <!-- PAGE-HEADER END -->

            <!--MAIN CONTENT START-->

            <!--MAIN CONTENT END-->

        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content close-->
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

            }